@page "/user/vaccination"
@layout UserAuthLayout
@inject NavigationManager NavManager

<section class="main-body px-3 px-md-5 my-3">
    <div class="top-container">
        <h3 class="title"><span class="change-color">Vaccination.</span> Our best defense against covid19</h3>
    </div>
    <div class="lower-container row">
        <div class="col-md d-flex justify-content-center">
            <div class="form-box">
                <div class="form-title-box d-flex align-items-center mb-5">
                    <h3 class="form-title me-auto">Get Your Vaccine !!!</h3>
                    <img src="./css/images/safeguard.png" alt="Safeguard" class="title-img">
                </div>
                <form action="">
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Last Name</p>
                            <input type="text" class="form-input" name="" placeholder="Last Name">
                        </div>
                        <div class="col">
                            <p class="form-label">First Name</p>
                            <input type="text" class="form-input" name="" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Middle Name</p>
                            <input type="text" class="form-input" name="" placeholder="Middle Name">
                        </div>
                        <div class="col">
                            <p class="form-label">Suffix</p>
                            <input type="text" class="form-input" name="" placeholder="Suffix">
                        </div>
                    </div>
                    <h3 class="address-title">Address</h3>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Barangay</p>
                            <input type="text" class="form-input" name="" placeholder="Barangay">
                        </div>
                        <div class="col">
                            <p class="form-label">Town/City</p>
                            <input type="text" class="form-input" name="" placeholder="Town/City">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Province</p>
                            <input type="text" class="form-input" name="" placeholder="Province">
                        </div>
                        <div class="col">
                            <p class="form-label">Zip Code</p>
                            <input type="text" class="form-input" name="" placeholder="Zip Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Contact Number</p>
                            <input type="text" class="form-input" name="" placeholder="Contact Number">
                        </div>
                        <div class="col">
                            <p class="form-label">Date of Birth</p>
                            <input type="date" class="form-input" name="">
                        </div>
                    </div>
                    <div class="submit-box d-flex justify-content-end">
                        <button class="trans-btn" type="submit">Request Schedule</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md">
            <img src="./css/images/vaccination.png" class="vacc-f-img" alt="Vaccination">
        </div>
    </div>
</section>

@code {

}
