@page "/user/login"
@inject NavigationManager NavManager
@inject IUserService UserService
@inject IToastService Toast
@inject IJSRuntime JsRun

<section class="main-body px-3 px-md-5 my-3 d-flex align-items-center">
    <div class="login-container row">
        <div class="title-box col-xl d-flex flex-column justify-content-center align-items-center">
            <h3 class="login-title">Protecting your <span class="change-color">loved ones</span></h3>
            <img src="./css/images/proc-family.png" alt="Protected Family" class="fam-img">
        </div>
        <div class=" col-xl d-flex justify-content-center">
            @if (!isSign)
            {
                <div class="form-box d-flex flex-column align-items-center">
                    <form action="" class="form-wrap">
                        <h3 class="form-title">Login</h3>
                        <p class="form-label">EMAIL</p>
                        <input class="form-input" type="email" name="email" placeholder="email">
                        <p class="form-label">PASSWORD</p>
                        <input class="form-input" type="password" name="password" placeholder="password">
                        <div class="submit-box d-flex justify-content-center">
                            <button type="submit" class="trans-btn">Login</button>
                        </div>
                    </form>
                    <div class="signup-box d-flex align-items-center justify-content-between px-md-5">
                        <p class="signup-label">Don't have an account? <a @onclick="SwitchPage" class="signup-ref">Click here</a></p>
                        <img src="./css/images/vacc-img.png" alt="Vaccinne-image" class="signup-img">
                    </div>
                </div>
            }
            else
            {
                <div class="form-box d-flex flex-column">
                    <EditForm Model="user" OnValidSubmit="OnSignUp">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                            <h3 class="form-title">Sign Up</h3>

                            <p class="form-label">First Name</p>
                            <ValidationMessage For="() => user.FirstName" />
                            <input class="form-input w-100" type="text" name="first_name" @bind-value="user.FirstName" placeholder="first name">

                            <p class="form-label">Last Name</p>
                            <ValidationMessage For="() => user.LastName" />
                            <input class="form-input" type="text" name="last_name" @bind-value="user.LastName" placeholder="last name">

                            <p class="form-label">EMAIL</p>
                            <ValidationMessage For="() => user.email" />
                            <input class="form-input" type="email" name="email" @bind-value="user.email" placeholder="email">

                            <p class="form-label">PASSWORD</p>
                            <ValidationMessage For="() => user.password" />
                            <input class="form-input" type="password" name="password" @bind-value="user.password" placeholder="password">

                            <div class="submit-box d-flex justify-content-center">
                                <button type="submit" class="trans-btn">Sign Up</button>
                            </div>
                    </EditForm>
                    <div class="signup-box d-flex align-items-center justify-content-between px-md-5">
                        <p class="signup-label">Already have an account? <a @onclick="SwitchPage" class="signup-ref">Click here</a></p>
                        <img src="./css/images/vacc-img.png" alt="Vaccinne-image" class="signup-img">
                    </div>
                </div>
            }

        </div>
    </div>
</section>

@code {
    bool isSign = false;
    User user = new User();

    private void SwitchPage()
    {
        isSign = !isSign;
    }

    private async Task OnSignUp()
    {
        var result = await UserService.AddUser(user);
        if (result != null)
        {
            Toast.ShowSuccess("Successfully Registered", "Success");
        }
    }
}
