.login-container {
    width: 100%;
    height: max-content;
}

.login-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 53px;
    text-align: center;
    color: #2155CD;
    margin-bottom: 20px;
}

.change-color {
    color: #79DAE8;
}

.form-box {
    width: 80%;
    background: #0AA1DD;
    box-shadow: 4px 4px 4px #000000;
    border-radius: 20px;
    padding: 30px;
}

.form-wrap {
    width: 80%;
}

.form-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 53px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 40px;
    color: #E8F9FD;
}

.form-label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 30px;
    color: #E8F9FD;
    margin-top: 50px;
}

.form-input {
    width: 100%;
    background: #E8F9FD;
    box-shadow: 0px 4px 4px #2155CD;
    border: none;
    text-indent: 2px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 30px;
}

.submit-box {
    margin-top: 60px;
}

.trans-btn {
    border: 3px solid #E8F9FD;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 15%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #E8F9FD;
}

    .trans-btn:hover {
        background-color: #E8F9FD;
        color: #2155CD;
    }

.signup-box {
    width: 100%;
}

.signup-img {
    width: 40%;
}

.signup-label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: right;
    color: #E8F9FD;
}

.signup-ref {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: right;
    color: #2155CD;
}

    .signup-ref:hover {
        color: #E8F9FD;
    }

@media screen and (max-width: 1000px) {
    .fam-img {
        width: 100%;
    }

    .form-wrap {
        width: 100%;
    }

    .form-box {
        width: 100%;
    }

    .signup-label {
        font-size: .9rem;
    }

    .signup-ref {
        font-size: .9rem;
    }
}
