@page "/user/vaccination"
@attribute [Authorize(Roles = "user")]
@layout UserAuthLayout
@inject NavigationManager NavManager
@inject IAppointService AppointService
@inject IToastService Toast 

<section class="main-body px-3 px-md-5 my-3">
    <div class="top-container">
        <h3 class="title"><span class="change-color">Vaccination.</span> Our best defense against covid19</h3>
    </div>
    <div class="lower-container row">
        <div class="col-md d-flex justify-content-center">
            <div class="form-box">
                <div class="form-title-box d-flex align-items-center mb-5">
                    <h3 class="form-title me-auto">Get Your Vaccine !!!</h3>
                    <img src="./css/images/safeguard.png" alt="Safeguard" class="title-img">
                </div>
                <EditForm Model="appoint" OnValidSubmit="OnSubmit">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Last Name</p>
                            <ValidationMessage For="() => appoint.LastName" />
                            <input type="text" class="form-input" @bind-value="appoint.LastName" placeholder="Last Name">
                        </div>
                        <div class="col">
                            <p class="form-label">First Name</p>
                            <ValidationMessage For="() => appoint.FirstName" />
                            <input type="text" class="form-input" @bind-value="appoint.FirstName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Middle Name</p>
                            <ValidationMessage For="() => appoint.MiddleName" />
                            <input type="text" class="form-input" @bind-value="appoint.MiddleName" placeholder="Middle Name">
                        </div>
                        <div class="col">
                            <p class="form-label">Suffix</p>
                            <input type="text" class="form-input" @bind-value="appoint.Suffix" placeholder="Suffix">
                        </div>
                    </div>
                    <h3 class="address-title">Address</h3>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Barangay</p>
                            <ValidationMessage For="() => appoint.Barangay" />
                            <input type="text" class="form-input" @bind-value="appoint.Barangay" placeholder="Barangay">
                        </div>
                        <div class="col">
                            <p class="form-label">Town/City</p>
                            <ValidationMessage For="() => appoint.Town" />
                            <input type="text" class="form-input" @bind-value="appoint.Town" placeholder="Town/City">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Province</p>
                            <ValidationMessage For="() => appoint.Province" />
                            <input type="text" class="form-input" @bind-value="appoint.Province" placeholder="Province">
                        </div>
                        <div class="col">
                            <p class="form-label">Zip Code</p>
                            <ValidationMessage For="() => appoint.Zipcode" />
                            <input type="text" class="form-input" @bind-value="appoint.Zipcode" placeholder="Zip Code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="form-label">Contact Number</p>
                            <ValidationMessage For="() => appoint.ContactNumber" />
                            <input type="text" class="form-input" @bind-value="appoint.ContactNumber" placeholder="Contact Number">
                        </div>
                        <div class="col">
                            <p class="form-label">Date of Birth</p>
                            <ValidationMessage For="() => appoint.BirthDate" />
                            <input type="date" class="form-input" @bind-value="appoint.BirthDate">
                        </div>
                    </div>
                    <div class="submit-box d-flex justify-content-end">
                        <button class="trans-btn" type="submit">Request Schedule</button>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-md">
            <img src="./css/images/vaccination.png" class="vacc-f-img" alt="Vaccination">
        </div>
    </div>
</section>

@code {
    Appoint appoint = new Appoint();

    private async Task OnSubmit()
    {
        var result = await AppointService.AddAppoint(appoint);
        if(result != null)
        {
            Toast.ShowSuccess("Request Schedule Sent", "Success");
            NavManager.NavigateTo("/user/dashboard");
        }
    }
}
