@page "/admin/dashboard"
@layout AdminAuthLayout
@inject NavigationManager NavManager

<section class="admin-body px-3 px-md-5 my-3">
    <div class="top-container">
        <h1 class="title">Welcome, <span>Admin</span></h1>
    </div>
    <div class="lower-container row">
        <div class="left-box col-md d-flex justify-content-center">
            <img src="./css/images/supp-admin.png" alt="Customer Support" class="support-img">
        </div>
        <div class="col-md right-box">
            <div class="stat-card my-4 d-flex align-items-center">
                <div class="left-card">
                    <img src="./css/images/oa-user.png" alt="Users" class="stat-img">
                </div>
                <div class="right-card w-100">
                    <h4 class="card-title">Overall Users</h4>
                    <h3 class="stats-number">300, 000</h3>
                </div>
            </div>

            <div class="stat-card my-4 d-flex align-items-center">
                <div class="left-card">
                    <img src="./css/images/vacc-user.png" alt="Users" class="stat-img">
                </div>
                <div class="right-card w-100">
                    <h4 class="card-title">Unvaccinated Users</h4>
                    <h3 class="stats-number">150, 000</h3>
                </div>
            </div>

            <div class="stat-card my-4 d-flex align-items-center">
                <div class="left-card">
                    <img src="./css/images/unvacc-user.png" alt="Users" class="stat-img">
                </div>
                <div class="right-card w-100">
                    <h4 class="card-title">Vaccinated Users</h4>
                    <h3 class="stats-number">150, 000</h3>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
}