@page "/admin/login"
@layout LoginAdminLayout
@inject NavigationManager NavManager
@inject IAdminService AdminService
@inject ILoginService LoginService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@inject IToastService Toast
@inject IJSRuntime JsRun

<section class="main-body px-3 px-md-5 my-3 d-flex align-items-center">
    <div class="login-container row">
        <div class="title-box col-xl d-flex flex-column justify-content-center align-items-center">
            <h3 class="login-title">Protecting your <span class="change-color">loved ones</span></h3>
            <img src="./css/images/admin-img.png" alt="Protected Family" class="admin-img">
        </div>
        <div class=" col-xl d-flex justify-content-center">
            @if (!isSign)
            {
                <div class="form-box d-flex flex-column">
                    <EditForm Model="login" OnValidSubmit="OnLogin">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <h3 class="form-title">Admin Login</h3>

                        <p class="form-label">EMAIL</p>
                        <ValidationMessage For="() => login.email" />
                        <input class="form-input w-100" type="email" name="email" @bind-value="login.email" placeholder="email">
                        <p class="form-label">PASSWORD</p>
                        <ValidationMessage For="() => login.password" />
                        <input class="form-input" type="password" name="password" @bind-value="login.password" placeholder="password">
                        <div class="submit-box d-flex justify-content-center">
                            <button type="submit" class="trans-btn">Login</button>
                        </div>
                    </EditForm>
                    <div class="signup-box d-flex align-items-center justify-content-between px-md-5">
                        <p class="signup-label">Don't have an account? <a @onclick="SwitchPage" class="signup-ref">Click here</a></p>
                        <img src="./css/images/vacc-img.png" alt="Vaccinne-image" class="signup-img">
                    </div>
                </div>
            }
            else
            {
                <div class="form-box d-flex flex-column">
                    <EditForm Model="admin" OnValidSubmit="OnSignUp">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <h3 class="form-title">Admin Sign Up</h3>

                        <p class="form-label">First Name</p>
                        <ValidationMessage For="() => admin.FirstName" />
                        <input class="form-input w-100" type="text" name="first_name" @bind-value="admin.FirstName" placeholder="first name">

                        <p class="form-label">Last Name</p>
                        <ValidationMessage For="() => admin.LastName" />
                        <input class="form-input" type="text" name="last_name" @bind-value="admin.LastName" placeholder="last name">

                        <p class="form-label">EMAIL</p>
                        <ValidationMessage For="() => admin.email" />
                        <input class="form-input" type="email" name="email" @bind-value="admin.email" placeholder="email">

                        <p class="form-label">PASSWORD</p>
                        <ValidationMessage For="() => admin.password" />
                        <input class="form-input" type="password" name="password" @bind-value="admin.password" placeholder="password">

                        <div class="submit-box d-flex justify-content-center">
                            <button type="submit" class="trans-btn">Sign Up</button>
                        </div>
                    </EditForm>
                    <div class="signup-box d-flex align-items-center justify-content-between px-md-5">
                        <p class="signup-label">Already have an account? <a @onclick="SwitchPage" class="signup-ref">Click here</a></p>
                        <img src="./css/images/vacc-img.png" alt="Vaccinne-image" class="signup-img">
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@code {
    bool isSign = false;
    LoginToken login = new LoginToken();
    Admin admin = new Admin();

    private void SwitchPage()
    {
        isSign = !isSign;
    }

    private async Task OnSignUp()
    {
        var result = await AdminService.AddAdmin(admin);
        if (result != null)
        {
            Toast.ShowSuccess("Successfully Registered", "Success");
            isSign = !isSign;
        }
    }

    private async Task OnLogin()
    {
        login.role = "admin";
        var result = await LoginService.LoginAdmin(login);
        if (result.Id != 0)
        {
            await LocalStorage.SetItemAsStringAsync("username", login.email);
            await LocalStorage.SetItemAsStringAsync("role", login.role);
            await AuthProvider.GetAuthenticationStateAsync();
            NavManager.NavigateTo("/admin/dashboard");
        }
        else
        {
            Toast.ShowError("Please Check your email and password", "Login Failed");
        }
    }

}
