@page "/admin/dashboard"
@attribute [Authorize(Roles = "admin")]
@layout AdminAuthLayout
@inject NavigationManager NavManager
@inject ILoginService LoginService
@inject ILocalStorageService LocalStorage
@inject IUserService UserService
@inject IVaccineService VaccineService

<section class="admin-body px-3 px-md-5 my-3">
    <div class="top-container">
        <h1 class="title">Welcome, <span>@admin.FirstName</span></h1>
    </div>
    <div class="lower-container row">
        <div class="left-box col-md d-flex justify-content-center">
            <img src="./css/images/supp-admin.png" alt="Customer Support" class="support-img">
        </div>
        <div class="col-md right-box">
            <div class="stat-card my-4 d-flex align-items-center">
                <div class="left-card">
                    <img src="./css/images/oa-user.png" alt="Users" class="stat-img">
                </div>
                <div class="right-card w-100">
                    <h4 class="card-title">Overall Users</h4>
                    <h3 class="stats-number">@AllUsers.Count</h3>
                </div>
            </div>

            <div class="stat-card my-4 d-flex align-items-center">
                <div class="left-card">
                    <img src="./css/images/vacc-user.png" alt="Users" class="stat-img">
                </div>
                <div class="right-card w-100">
                    <h4 class="card-title">Unvaccinated Users</h4>
                    <h3 class="stats-number">@AllUnVacc.Count</h3>
                </div>
            </div>

            <div class="stat-card my-4 d-flex align-items-center">
                <div class="left-card">
                    <img src="./css/images/unvacc-user.png" alt="Users" class="stat-img">
                </div>
                <div class="right-card w-100">
                    <h4 class="card-title">Vaccinated Users</h4>
                    <h3 class="stats-number">@AllVaccines.Count</h3>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    Admin admin = new Admin();
    List<Vaccine> AllVaccines = new List<Vaccine>();
    List<User> AllUsers = new List<User>();
    List<User> AllUnVacc = new List<User>();

    protected async override Task OnInitializedAsync()
    {
        var username = await LocalStorage.GetItemAsStringAsync("username");
        var result = await LoginService.GetAdmin(username);
        if(result != null)
        {
            admin = result;
        }

        AllVaccines = await VaccineService.GetAllVaccine();
        AllUsers = await UserService.GetAllUser();
        AllUnVacc = await UserService.GetAllUnvaccinatedUser();
    }
}