<footer class="main-footer d-flex align-items-center px-3 px-md-5 py-2">
    <h5 class="footer-title me-auto">Vaccination Management System</h5>
    <h5 class="footer-subtitle">all rights reserved 2022</h5>
</footer>