@inject NavigationManager NavManager

<nav class="main-nav d-flex align-items-center px-3 px-md-5 py-3">
    <a href="/user/dashboard" class="nav-logo me-auto">VMS</a>
    <a href="/user/account" class="me-2"><img src="./css/images/man.png" class="account-img" alt="account"></a>
    <a href="" class="me-2"><img src="./css/images/logout.png" class="account-img" alt="account"></a>
</nav>

@code {
}
